doctype html
html
    head
        base( href="/" )
        meta( name='viewport', content='width=device-width' )
        link( rel="stylesheet", href="css/layout.css", type="text/css" ) 
        link( rel="stylesheet", href="css/data.css", type="text/css" )
        link( rel="stylesheet", href="css/calendar.css", type="text/css" )
        link( rel="icon", href="favicon-16x16", type="image/png" )
        link( rel="manifest", href="site.webmanifest" )
        link( rel="stylesheet" href="css/quill.snow.css" )
        script( src="js/app.js" type="module" )
        script( src="./js/qrcode.min.js" )
        script( src="./js/quill.js" )
        script( src="./js/upc.js" )

        title= title
    body
        div.flex
            include nav 

            div.content.noprint
                block content

            block sub

    include footer

    block script