doctype html
html
    head
        base( href="/" )
        meta( name='viewport', content='width=device-width' )
        link( rel="stylesheet", href="css/server.css", type="text/css" ) 
        link( rel="stylesheet", href="css/data.css", type="text/css" )
        link( rel="icon", href="favicon-16x16", type="image/png" )
        link( rel="manifest", href="site.webmanifest" )
        script( src="js/app.js" type="module" )
        title= title
    body
        div.flex
            include nav 

            div.content
                block content

            block sub

    include footer

    block script