ul.noprint
    if submenu
        each link, id in submenu 
            li( class=( active == id ? "active link" : "link"  ) onclick= `location.href = '${ path }/${ location( link.title ) }';` )= link.title  