extends partials/layout

block content
    h1 Log In 

    div#content

block script 
    script.
        window.addEventListener( "load", () =>
        {
            var content = new window.app.Content();
                content.init( { content: "login", path: "/db/users" } );
        } );