extends partials/layout

block content
    header
        h1= title

    div#content( data-ui = true )

block sub 
    div.content#sub( data-ui = true )

block script
    script( src = "/js/rtc.client.js", type = "module" );