.active
{
    background-color: transparent !important;
    border-bottom: 1px solid transparent !important;
    color: white !important;
}

.cell
{
    border: 1px solid #333;
    color: #CCCC99;
    font-family: courier;
    font-size: 0.7em;
    
}

.column
{
    background: linear-gradient( 0deg, transparent, #283032, transparent );
    color: silver;
    clear: both;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 10px 2px 5px;
    text-transform: capitalize;
}

.delete
{
    background-color:tomato !important;
    transition: background-color 3000ms linear;
}

.field
{
    margin: 0;
}

/*div.input
{
    margin-bottom: 4px;
}*/

canvas, img, input, select, textarea, video, .option
{
    background-color: #111;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    font-family: monospace;
    font-size: 0.8em;
    margin: 1px;
    outline: none;
}

input:disabled
{
    opacity: 0.3;
    pointer-events: none;
}

input[ type = checkbox ], input[ type = radio ]
{
    background-color: black;
    vertical-align: middle;
    display: inline-block;
}

input[ type = image ], input[ type = submit ], input[ type = button ]
{
    background-color: #222;
    cursor: pointer;
    filter: grayscale( 1 );
}

input[ type = image ]:hover, input[ type = submit ]:hover, input[ type = button ]:hover
{
    background-color: black;
    filter: grayscale( 0 );
}

input[ type = number ]
{
    max-width: 7em;
}  

.insert
{
    background-color: lightgreen !important;
    transition: background-color 3000ms linear;
}

.label
{
    color: silver;
    font-family: monospace;
    font-weight: normal;
    min-width: 8em;
}

label
{
    color: white;
    cursor: pointer;
    padding: 0 2em 0 0.5em;
}

.mark
{
    width: 16px;
    height: 16px;
    border-radius: 4px;
    margin-right: 5px;
}

.object
{
    margin-left: 20px;
}

option
{
    height: 1em;
    line-height: 0.8em;
    margin: 0;
    min-height: 1em;
    padding: 0;
}

.option
{
    font-size: 1em;
    font-weight: normal;
}

.over
{
    border: 2px dotted #666;
}

.popup
{
    background-color: rgba( 0, 0, 0, 0.8 );
    border: 1px solid #666;
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
}

#qr-reader
{
    height: 40vw;
    width: 40vw;
}

.quill
{
    background-color: white;
    border-radius: 4px;
    color: black;
    margin: 1px;
}

.right
{
    justify-content: right;
    width: 100%;
}

.row
{
    padding: 1px;
}

.scroll
{
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}

section
{
    border-bottom: var( --underline );
    width: 100%;
}

section *
{
    margin-bottom: 0 !important;
    text-transform: none;
}

section * .label
{
    padding-left: 10px;
}

select
{
    min-width: 8em;
    padding: 1px;
}

.select
{
    background-color: black !important;
}

.selected
{
    background-color: green;
}


.tab
{
    border: 1px solid silver;
    border-radius: 0 8px 0 0;
    color: #666;
    border-left: 1px solid transparent;
    font-size: 0.7em;
    padding: 2px 5px 2px 2px;
    white-space: nowrap;
}

.tabs
{
    border: 1px solid silver;
    font-size: 0.8em;
    font-weight: bold;
    padding: 2px 5px 2px 2px;
    text-transform: capitalize;
}

.tab:hover
{
    background-color: orange;
    color: black;
    cursor: pointer;
    border: 1px solid white;
}

textarea
{
    min-height: 10vh;
    min-width: 10vw;
}

.underline
{
    flex: 1 1 100%;
    border-bottom: 1px solid silver;
}

table
{
    border-collapse: collapse;
    position: relative;
}

tr.row
{
    background-color: transparent;
}

tr.row:hover
{
    background-color: lightblue;
    cursor: pointer;
}

tr.row:hover td
{
    color: black;
}

td
{
    padding: 2px 10px 2px 5px;
    white-space: nowrap;
}

.update
{
    background-color: violet !important; 
    transition: background-color 1000ms linear;
}

.insert td, .update td
{
    color: black !important;
}