:root
{
    
    --border: 1px solid #444;
    
    --font: Helvetica, Geneva, Verdana, sans-serif;

    --padding: 10px;

    --underline: 1px dotted #666;
}

@media print
{   
    .noprint
    {
        display: none;
    }

    article
    {
        font-size: 0.8em;
        font-weight: normal;
        text-decoration: underline;
    }

    body
    {
        border: none;
        font-family: var( --font );
        margin: 0;
        padding: 0;
    }

    div.content
    {
        flex: 1 1 100%;
        background-color: transparent;
        border-radius: 10px;
        border: var( --border );
        padding: var( --padding );
    }

    div.flex
    {
        display: flex;
    }

    h1
    {
        color: #666;
        font-size: 1.5em;
        font-weight: bold;
    }

    h1, p
    {
        margin-top: 0;
    }

    .item
    {
        color: black;
    }

    label
    {
        color: #666;
        font-size: 0.8em;
    }

    .plating
    {
        color: red;
    }

    .quantity
    {
        color: green;
    }

    section
    {
        border-bottom: var( --underline );
        color: black;
        font-weight: bold;
        text-transform: capitalize;
        width: 100%;
    }

    ul
    {
        flex: 0;
        margin: 0;
    }
}

@media screen
{
    a
    {
        font-family: var( --font );
        font-size: 1em;
        text-decoration: none;
    }

    a:link, a:visited
    {
        color: silver;
    }

    a:hover
    {
        color: orange;
    }

    .active
    {
        background-color: lightskyblue;
    }

    article
    {
        font-size: 0.8em;
        font-weight: normal;
        text-decoration: underline;
    }

    body
    {
        background-color: #222;
        border: none;
        color: #CCC;
        font-family: var( --font );
        height: 100vh;
        margin: 0;
        overflow: hidden;
        padding: 0;
        user-select: none;
        width: 100vw;
    }

    div.content
    {
        flex: 0 1 30%;
        background-color: transparent;
        border-radius: 10px;
        border: var( --border );
        max-height: calc( 90vh );
        overflow-x: hidden;
        overflow-y: auto;
        padding: var( --padding );
    }

    div.flex
    {
        display: flex;
    }

    footer
    {
        bottom: 0;
        position: absolute;
        width: 100vw;
    }

    h1
    {
        color: #666;
        font-size: 1.5em;
        font-weight: bold;
        white-space: nowrap;
    }

    h1, p
    {
        margin-top: 0;
    }

    .item
    {
        color: black;
    }

    label
    {
        color: #666;
        font-size: 0.8em;
    }

    .hidden
    {
        display: none;
    }

    #loader
    {
        align-items: center;
        background-color: rgba( 0, 0, 0, 0.9 );
        display: none;/*flex;*/
        height: 100vh;
        justify-content: center;
        left: 0;
        pointer-events: none;
        position: absolute;  
        top: 0;    
        width: 100vw;   
    }

    .link
    {
        border-radius: 4px;
        color: #666;
        cursor: pointer;
        font-size: 0.8em;
        font-family: verdana;
        padding: 2px;
        width: 100%;
    }

    li.link
    {
        border: 1px solid silver;
        border-radius: 4px;
        cursor: pointer;
        display: block;   
        list-style-type: none;
        margin: 0 0 1px 0;
        padding: 0 10px 0 10px;
        white-space: nowrap; 
    }

    .link:hover
    {
        background-color: black;
        color: silver;
    }

    #message
    {
        align-items: center;
        background-color: black !important;
        bottom: 0;
        color: yellow;
        display: flex;
        height: 10vh;
        justify-content: center;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;    
        transition: opacity 1000ms linear;       
        width: 100vw;   
    }

    #message.visible
    {
        opacity: 1;
        transition: opacity 1000ms linear;
    }

    nav
    {
        flex: 0;
        padding: 10px;
    }

    p.footer
    {
        color: gray;
        font-size: 0.7em;
        text-align: center;
    }

    .plating
    {
        color: red;
    }

    .quantity
    {
        color: green;
    }

    #sub
    {
        flex: 0 1 60%;
    }

    ul
    {
        flex: 0;
        margin: 0;
    }
}